.hero.background {
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../images/bgr1.jpg);
  }
  
  .hero {
    background-color: #2f303a;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
  
  &__title {
    width: 693px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    color: var(--light-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }

  &__button {
    padding: 10px 32px;
    background-color: var(--accent-color);
    color: var(--light-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    align-items: center;
    letter-spacing: 0.06em;
    border: 0;
    border-radius: 4px;
  }
}