body {
    color: var(--primary-text-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
  }
  .body.modal-open{
    overflow: hidden;
  }
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  @media screen and (min-width : 480px) {
    .container{
    width: 480px;
  }
  }
  @media screen and (min-width : 768px) {
    .container{
    width: 768px;
  }
  }
  @media screen and (min-width : 1200px) {
    .container{ 
      width: 1200px;
    }
  }

  span {
    color: var(--accent-color);
  }
  .list {
    list-style: none;
  }
  .section {
    
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px){
      padding-top: 94px;
      padding-bottom: 94px;
    }

    &-title {
      font-size: 28px;
      line-height: 1.2;
      text-align: center;
      margin-bottom: 30px;

      @media screen and (min-width: 1200px) {
        font-size: 36px;
        margin-bottom: 50px;
      }
    }
    &.team {
      background-color: var(--secondary-bgr-color);
    }
  }
 
  
  .main-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }